{% extends 'base.html' %}
{% block head %}
<title>About Us - Grains of Wrath</title>
{% endblock %}
{% block header %}
<div id="top"></div>
<header class="header">
    <div class="header-image">
        <h1>Grains of Wrath</h1>
        <h2>About Us</h2>
    </div>
</header>
{% endblock %}
{% block body %}
<main>
    <div id="about-content">
        <div id="about-image">
            <img src="{{ url_for('static', filename='./css/Images/beer-tall.jpeg') }}" alt="Beer in hands" height="400px">
        </div>
        <h3>Who we are</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, soluta dolore animi sequi facilis aliquam
            quae commodi vero dolores nostrum itaque rem hic cumque ad, quia sunt quisquam corrupti excepturi culpa
            voluptatum exercitationem accusamus sint repellendus a? Ab modi ex necessitatibus, velit suscipit eum
            placeat voluptatem ipsa porro enim voluptates sapiente totam magnam excepturi perferendis inventore animi
            delectus itaque nesciunt!</p>
        <h3>Our mission</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ea temporibus assumenda dolorem provident
            quaerat qui doloremque hic nostrum consectetur ullam eligendi, dolorum ad a id cumque earum modi libero
            tenetur quam. Voluptas esse temporibus consequuntur cum libero assumenda voluptatibus?</p>
        <a href="{{ url_for('our_team') }}">Meet our team!</a>
    </div>
</main>    
{% endblock %}

