{% extends 'base.html' %}
{% block head %}
<title>Store - Grains of Wrath</title>
{% endblock %}
{% block header %}
<div id="top"></div>
<header class="header">
    <div class="header-image">
        <h1>Grains of Wrath</h1>
        <h2>Store</h2>
    </div>
</header>
{% endblock %}
{% block body %}
<main>
    <section id="alcohol">
        <h2>
            Alcoholic Beverages to Purchase
        </h2>
        <p>Selection is subject to change. Inquire for availability.</p>
        <p>Check back for seasonal specials!</p>
        <div class="beverage">
            <h3>Beer 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sapiente aliquid alias mollitia adipisci non.
                <span class="price">$$$</span>
            </p>
        </div>
        <div class="beverage">
            <h3>Beer 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sapiente aliquid alias mollitia adipisci non.
                <span class="price">$$$</span>
            </p>
        </div>
        <div class="beverage">
            <h3>Whiskey 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sapiente aliquid alias mollitia adipisci non.
                <span class="price">$$$</span>
            </p>
        </div>
    </section>
</main>
{% endblock %}
